
<!DOCTYPE html>
<html>
  <head>
    <title>Favorites</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Tamagotchi</h1>
        <%= yield %>
    </div>
  </body>
</html>
